.container {
  padding: 2rem;
  background-color: #f9f9f9;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
}

.left,
.right {
  width: 100%;
}

.leftList {
  list-style-type: none;
  padding: 0;
  margin-left: 10%;
  margin-top: 4%;
}

.liList {
  margin-bottom: 0.5rem;
}

.button {
  color: #14279b;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  height: 41px;
  width: 152px;
  border: 2px solid #14279b;
  margin-top: 3%;
}

.button:hover {
  background-color: #14279b;
  color: white;
}

/* image */

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  gap: 100px;
}

.imageContainer {
  margin-left: 5%;
  height: 200px;
  width: 500px;
}

.statsContainer {
  /* display: flex; */
  font-size: 36px;
  /* gap: 20px; */
}

.statsContainer2 {
  height: 300px;
  width: 300px;
}

.statItem {
  /* display: flex; */
}

.statLabel {
  font-size: 14px;
  font-weight: 600;
  color: #484848;
}

.statLabel span {
  color: #444444;
}
