/* components/Footer.module.css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    height: 6rem;
  }
  
  .copyright {
    font-size: 14px;
  }
  
  .highlight {
    font-weight: bold;
  }
  
  .links {
    margin-right: 50px;
  }
  .links a {
    margin-left: 50px;
  
    color: #0000ff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .upArrow {
    position: fixed;
    bottom: 5px;
    right: 20px;
    background-color: #14279b;
    color: #fff;
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    
  }
  
  .upArrow a {
    color: #fff;
    text-decoration: none;
  }

  .upArrow :hover {
    width: 40px;
    height: 40px;
    background: #2383c4;
    /* text-decoration: none; */
    position: fixed;
    bottom: 5px;
    right: 20px;
    color: #fff;
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
  }
  