.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 40px;
    /* max-width: 1200px; */
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    gap: 30px;
}

.info {
    /* flex-direction: column; */
    /* flex: 1; */
    /* margin-right: 40px; */
    background-color: yellow;
    width: 30%;
}

.info h1 {
    font-size: 10px;
    color: #1e3a8a;
}

.info p {
    /* margin: 20px 0; */

    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.contactDetails {
    /* display: flex; */
    /* gap: 20px; */
    background-color: red;
    width: 20%;
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}

.contactDetails span {
    display: flex;
    align-items: center;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form input,
.form textarea {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form textarea {
    height: 150px;
    resize: none;
}

.form button {
    padding: 10px 20px;
    background-color: #14279b;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.form button:hover {
    background-color: #2383c4;
}