@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.mainHomeContainer{
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.homeLeft{
    margin-right: 20%;
    /* width: 50%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.homeRight Image{
    width: 40%;
}
.homeRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageParent{
    /* background-color: yellow; */
    height: 150px;
    width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imageStack {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100px;
    gap:150px;
    margin-right: 27%;
/* display: flex;
align-items: center;
justify-content: space-between; */
/* display: flex;
justify-content: center; */
/* gap: 30; */
/* height: 100px;

width: 100px; */


/* height: 512px;
    width: 512px; */
/* background-color: red; */
/* gap: 1000; */
}

.stackImage{
    /* background-color: green; */
    /* height: 512px;
    width: 512px; */
    /* padding:  10px; */
    cursor: pointer;
}



.homeLeftHeading{
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    color: #14279b;
    font-weight: bold;
}

.homeLeftSubheading{
    color: #484848;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.homeLeftButton{
    color:#14279b;
    border: #14279b solid;
    border-radius: 50px;
    padding: 10px 20px;
    /* background-color: #14279b; Adjust the background color as per your design */
    /* color: white; */
    text-decoration: none;
    /* border-radius: 50px; */
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.homeLeftButton:hover {
    color: white;
    background-color: #14279b;
}


